* {
    border: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 1.5rem;
    color: #f8f8f8;
}

::selection {
    background: transparent;
}

.row {
    display: flex;
}

.light-grey {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a6a6a6;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin: .4rem;
    cursor: pointer;
    color: black;
}

.dark-grey {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin: .4rem;
    cursor: pointer;
}

.yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9501;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin: .4rem;
    cursor: pointer;
}

#zero {
    width: 9.2rem;
    border-radius: 0 50px 50px 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.display-font {
    font-size: 3rem;
}

.display-cover {
    width: 19.2rem;
    height: 3rem;
    margin: 0 .4rem 2rem .4rem;
    text-align: right;
    font-size: 100%;
    white-space: nowrap;
}

.display {
    font-size: 100%;
    display: inline-block;
}

.output-font {
    font-size: 2rem;
}

.output-cover {
    width: 19.2rem;
    height: 2rem;
    margin: 0 .4rem 2rem .4rem;
    text-align: right;
    font-size: 100%;
    white-space: nowrap;
}

.output {
    font-size: 100%;
    display: inline-block;
}

i {
    font-size: 1.3rem;
}